{% extends 'dashboard/layout2.html' %}
{% block page_body %}
{% load static %}

  <div class="form-wrapper">
    <a href="/dashboard" class="logo large">hyper</a>

        <!-- <div style="color: red;">{{error}}</div> -->

    <form accept-charset="UTF-8"  class="form" id="login-form" method="post">
      {% csrf_token %}
      <div class="fields">
        <div class="field">

          <div style="color: black;">Your Account has been activated. Click Here For Login <a href="/dashboard/signin">Click Here </a></div>

        
        </div>
       
        <div class="error"></div>
        <div class="notice"></div>
      </div>

      <p class="comment"></p>

    
    </form>
   
  </div>

 
{% endblock %}