{% extends 'survey/layout.html' %}

{% block content %}

    <p>
        You have opted out of all MoreTvTime online measurement and research services. MoreTvTime will no longer collect this type of data from you. However, SurveyTimeForMe will continue to count the fact that a browser came to a site, but that count will not be associated with your browser, and if you return to SurveyTimeForMe’s Fulcrum platform, you may opt-in to online measurement and research services again. This opt-out is cookie based. So, if you delete, block or otherwise restrict cookies, this opt-out may not be effective. Additionally, different computers and different Internet browsers may all require their own version of the opt-out cookie.
    </p>

    <p>
        To opt-out of targeting by other companies, visit the Network Advertising Initiative at <a href="https://www.networkadvertising.org/choices/" rel="nofollow noopener">https://www.networkadvertising.org/choices/</a>, or the Digital Advertising Alliance (DAA) at <a href="https://www.aboutads.info/choices/" rel="nofollow noopener">https://www.aboutads.info/choices/</a>.
    </p>

{% endblock %}