
    {#  PlayBUZZ  #}

{#        <style>#}
{#            #202ff786-655e-45ae-a1e8-3ae1aee256dc {#}
{#                max-width: 600px;#}
{#                margin: 0 auto;#}
{#            }#}
{#        </style>#}
{#        <script>#}
{#            (function (d,s,n,id) {#}
{#                var js, fjs = d.getElementsByTagName(s)[0];#}
{#                if (d.getElementById(id)) return;#}
{#                js = d.createElement(s);#}
{#                js.id = id;#}
{#                js.className = n;#}
{#                js.src = "https://stream.playbuzz.com/embed/sdk.js?embedId=202ff786-655e-45ae-a1e8-3ae1aee256dc";#}
{#                fjs.parentNode.insertBefore(js, fjs);#}
{#            }(document,'script','playbuzz-stream','stream-sdk-jssdk_jungleofferwall.com'));#}
{#        </script>#}
{#        <div id="202ff786-655e-45ae-a1e8-3ae1aee256dc" style="max-width: 600px; margin: 0 auto;"></div>#}

    {#  PlayBUZZ  #}
