
{# Adplayer pro - outstream #}
<!--script async src="https://cdn.stat-rock.com/player.js"></script>
<script>(function(){var i='DkdFKQzmgiN-1T1xl6aoowXeH_G4uAgB6eA1r0gTx2J7D6DSug3X';document.write('<div id="'+i+'"></div>');(playerPro=window.playerPro||[]).push(i);})();</script-->
{# Adplayer pro - outstream #}

<!--{# Adpone- outstream #}-->
<!--<script  type="application/javascript" src="https://static.sunmedia.tv/integrations/30e40aac-1447-4c2e-9305-1e4e7b857067/30e40aac-1447-4c2e-9305-1e4e7b857067.js"></script>-->
<!--{# Adpone- outstream #}-->

<!--{% if not is_mobile %}-->
    <!--{# VDO.ai outstream tag #}-->
    <!--<script>-->
        <!--(function(v,d,o,ai)-->
        <!--{ai=d.createElement('script');ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, '//a.vdo.ai/core/jungleofferwall/vdo.ai.js?vdo=34');-->
    <!--</script>-->
    <!--{# VDO.ai outstream tag #}-->
<!--{% endif %}-->


<!--<script type='text/javascript' src='//tag.imonomy.com/script/14567716684/preload.js' async></script>-->


{# Spout #}
{#    <script id="spout-tag-05ae5a25-1e7f-45c0-b29f-07c5183a920a">#}
{#        (function() {#}
{#            var r = encodeURIComponent(top.document.referrer.substring(0,250)),#}
{#                p = encodeURIComponent(top.document.location.href.substring(0,250)),#}
{#                t = Date.now(),#}
{#                u = '05ae5a25-1e7f-45c0-b29f-07c5183a920a',#}
{#                e = document.createElement('script'),#}
{#                s = sessionStorage.getItem('spoutable-' + u);#}
{#            if (!s) {#}
{#                var m = Math.random.bind(Math);#}
{#                s = JSON.stringify({ sessionId: [ t, m(), m(), m(), m(), m(), m(), m(), m(), m(), m(), m(), m() ]});#}
{#                sessionStorage.setItem('spoutable-' + u, s);#}
{#            }#}
{#            e.async = true;#}
{#            e.src='//s.spoutable.com/s?u='+u+'&s='+encodeURIComponent(s)+'&t='+t+'&r='+r+'&p='+p;#}
{#            document.head.appendChild(e);#}
{#        })();#}
{#    </script>#}
{# Spout #}


{#  connectedinteractive  #}
    <script>
        !function(_window,_document,_type,_url,n,t,s){if(_window.ConnectTracker)return;n=_window.ConnectTracker=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!_window._ConnectTracker)_window._ConnectTracker=n;n.push=n;n.loaded=!0;n.version='1.0';n.queue=[];t=_document.createElement(_type);t.async=!0;t.src=_url;s=_document.getElementsByTagName(_type)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//d3htn85c6cao65.cloudfront.net/libraries/connect-sdk/connect_tracker_v102.js');
        ConnectTracker('init', 'c003ef709afa9218e446de21c24bb98a');
    </script>
{#  connectedinteractive  #}