{% extends 'survey/layout.html' %}
{% load static %}

{% block navigation %}
    {% include 'survey/offerwall/navigation.html' %}
{% endblock %}

{% block top_banner %}{% endblock %}

{% block container_content %}

    <div class="sc-content flex-grow-1">

        <div class="jumbotron">
            <h4 class="text-center">
                Offerwall url should be in format <span class="text-success">https://jungleofferwall.com/offerwall/ COMPANY_NAME / USER_ID</span>
            </h4>
        </div>

    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block popup-list %}{% endblock %}