<div class="modal" id="interstial-model">

    <div class="modal-card" style="width:100%; height:100%; ">

        <header class="modal-card-head" style="background-color:rgba(000,000,000,0.9); border-bottom: none !important;">
            {% if show_banners %}
                <div id="progressbar-text-continue" style="width:100%">
                    <button class="button is-success blinking-button is-large headclass">X</button>
                </div>
            {% endif %}

            {% if not show_banners %}
                <div id="progressbar-text-continue" style="width:100%">
                    <a href="" id="add-url" class="button is-success blinking-button is-large show-popup delete headclass"></a>
                </div>
            {% endif %}

        </header>
        <section class="modal-card-body mtt-interstitial-body" style="background-color:rgba(000,000,000,0.9);">

            {% if is_mobile %}
                <!-- /21771002246/mobile-320x480-a1 -->
                <div id='div-gpt-ad-1551996259483-0' style='height:480px; width:320px;'>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            googletag.cmd.push(function () {
                                googletag.display('div-gpt-ad-1551996259483-0');
                            });
                        })
                    </script>
                </div>
            {% else %}

                <!-- /21771002246/desktop-article-interstitial-336x280-a2 -->
                <div id='div-gpt-ad-1551996069848-0' style='height:280px; width:336px;'>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            googletag.cmd.push(function () {
                                googletag.display('div-gpt-ad-1551996069848-0');
                            });
                        })
                    </script>
                </div>

            {% endif %}
        </section>

    </div>
</div>
<style>
    .headclass {
        float: right;
    }

    .modal-card-foot, .modal-card-head {
        padding: 0px;
    }

</style>
{% if is_mobile %}
    <style>
        .button.is-medium {
            font-size: 1rem;
        }

        .modal-card-foot, .modal-card-head {
            padding: 0px;
        }

    </style>
{% endif %}

