<div class="modal" id="submit-success-modal" style="background-color: transparent!important;z-index: 999999;">
    <div class="modal-content box-deep-shadow box-border-grey">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button aria-label="close" class="delete"></button>
        </header>
        <div class="modal-card-body">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img alt="Image" src="/static/images/success.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            Congrats! You just got paid!
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <button aria-label="close" class="modal-close is-large"></button>
</div>

