    <p>
        Each online survey questionnaire contains 60 questions. 5 questions will be repeated in order to ensure you are
        paying close attention and answering the questionnaire accurately. Survey research companies rely upon honest and
        accurate answers. Any of our online surveys that have contradicting answers will be counted as invalid and
        incomplete. After you complete one of our online surveys, you can move on to the next survey. We are creating new
        online surveys on a daily basis!
    </p>

    <p>None of the survey questions will ever ask you for personal identification questions. You are anonymous. Feel free to
        refer to our privacy policy for more details.
    </p>

    <p>Survey research is the collection of data attained by asking individuals questions either in person, on paper, by
        phone or online. Conducting surveys is one form of primary research, which is the gathering data first-hand from its
        source. Survey research is used to gather the opinions, beliefs and feelings of selected groups of individuals,
        often chosen for demographic sampling.

    </p>
