{% extends 'dashboard/layout.html' %}
{% block page_body %}

<div class="content mobile-web">
  <!--Section one Start-->
  <div class="bg_image">
    <div class="content-header">
      <h1 class="title">Monetize Your Website or App With Rewards</h1>
      <p class="blurb brand">
        With Our <span>EXCLUSIVE</span> Unlimited Survey Wall in <span>ALL Countries.</span>
      </p>
      <button type="button" class="btnn" data-show-popup="get-started">Start Now</button>
      <div class="cover-wrapper">
        <img class="cover" src="/static/images/dashboard/app_4.png" alt="Apps">
      </div>
      <div class="blue_bar">
      <p>Join Our Growing Platform of 250+ Publishers!</p>
      </div>
    </div>
  </div>
 <!--Section one End-->

  <!--Section Second Start-->
  <div class="features-banner large">
    <div class="inner">
      <h2 class="title title_1">How it works </h2>
      <div class="how-work-inner">
        <img src="/static/images/dashboard/how-work_1.png" width="601" height="456">
        <div class="hw-heading hw-1 wow fadeInLeft" data-wow-delay=".4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
          <div class="hw-heading-box">1</div>
          Easily Integrate Our offerwall Iframe
          with your app.
        </div>
        <div class="hw-heading hw-2 wow fadeInRight" data-wow-delay=".4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
          <div class="hw-heading-box">2</div>
          Users complete offers and receive your
          virtual currency in real time.
        </div>
        <div class="hw-heading hw-3 wow fadeInUp" data-wow-delay=".4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="hw-heading-box">3</div>
          You get paid!
        </div>
      </div>

      <!-- <a class="button blue" href="#">Get started</a>

      <div>
        <a href="#" class="more">Learn more</a>
      </div> -->
    </div>
  </div>
   <!--Section Second End-->

   <!--Section Third Start-->
  <div class="app-slider benefits">
    <h1 class="title">Benefits</h1>
    <div class="c-layout-item">
      <div class="c-layout-item p-left-list">
        <div class="c-layout-item p-feature-block">
          <div class="p-feature-icon leftIcon">
            <img src="/static/images/dashboard/account-management-icon.png" class="c-img-responsive"
              alt="Account Management">
          </div>
          
          <div class="p-feature-desc">
            <h3>Account Management</h3>
            <p class="c-mobile-hidden">As a partner, our expert account management team is standing by to help you
              succeed.</p>
          </div>
        </div>
        
        <div class="c-layout-item p-feature-block">
          <div class="p-feature-icon leftIcon">
            <img src="/static/images/dashboard/global-icon.png" class="c-img-responsive" alt="Global Monetization">
          </div>
          
          <div class="p-feature-desc">
            <h3>Global Monetization</h3>
            <p class="c-mobile-hidden">Our global base of advertisers ensures you maximum revenue, regardless of the
              country of your users</p>
          </div>
        </div>

        <div class="c-layout-item p-feature-block">
          <div class="p-feature-icon leftIcon">
            <img src="/static/images/dashboard/statistics-icon.png" class="c-img-responsive" alt="Account Management">
          </div>
          
          <div class="p-feature-desc">
            <h3>Statistics and Reporting</h3>
            <p class="c-mobile-hidden">Our dashboard provides straight-forward reporting with actionable statistics to
              analyze and optimize your results in real-time.</p>
          </div>
        </div>
      </div>

      <div class="c-layout-item p-right-list">
        <div class="c-layout-item p-feature-block">
          <div class="p-feature-icon rightIcon">
            <img src="/static/images/dashboard/paymentsicon.png" class="c-img-responsive" alt="Quick Set Up">
          </div>
          
          <div class="p-feature-desc">
            <h3>On-Time Payments</h3>
            <p class="c-mobile-hidden">Rest easy knowing we have paid publishers on time, every time since our
              inception.</p>
          </div>
        </div>
        
        <div class="c-layout-item p-feature-block">
          <div class="p-feature-icon rightIcon">
            <img src="/static/images/dashboard/integration-icon.png" class="c-img-responsive"
              alt="Seamless Integration">
          </div>
          
          <div class="p-feature-desc">
            <h3>Seamless Integration</h3>
            <p class="c-mobile-hidden">Deploy our easy-to-install solutions on your website within minutes.</p>
          </div>
        </div>
        
        <div class="c-layout-item p-feature-block last">
          <div class="p-feature-icon rightIcon">
            <img src="/static/images/dashboard/customization-icon.png" class="c-img-responsive" alt="Customization">
          </div>
          
          <div class="p-feature-desc">
            <h3>Customization</h3>
            <p class="c-mobile-hidden" style="padding: 0px;margin: 0px;">Control the look and feel of our solutions to
              enrich your users' experiences.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Section Third End-->

<!--Section Fourth Start-->
  <div class="row section4">
    <div class="col-xs-12 text-center ">
      <span class="main-title after-title">Some Of Our Partners </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="carousel slide multi-item-carousel" id="theCarousel">
            <div class="carousel-inner">

              <div class="item active">
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\ClixSenseLogo2.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\cointiply_sm_live.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\fhlogofh.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\logo1.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\logo2.png"
                  class="img-responsive"></a></div>
              </div>

              <div class="item">
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\logo4.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\logo3.png"
                  class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\logo6.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\logo5.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-2"><a href="#1"><img src="\static\images\dashboard\company-logo\swagBucks.png"
                  class="img-responsive"></a></div>
              </div>

              <!-- <div class="item">
                <div class="col-xs-3"><a href="#1"><img src="\static\images\dashboard\company-logo\11.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#1"><img src="\static\images\dashboard\company-logo\12.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#1"><img src="\static\images\dashboard\company-logo\credit-sesame.png"
                      class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#1"><img src="\static\images\dashboard\company-logo\machine-zone.png"
                      class="img-responsive"></a></div>
              </div> -->
            </div>
            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i
                class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i
                class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Section Fourth End-->

<!--Section Fifth Start-->
  <div class="extra-banner">
    <h2 class="title">Boost User Retention, Earnings, and Engagement <br>with our Exclusive Survey Offer Wall</h2>
    <p>Our offer wall enables you to deploy a complete rewards-based monetization solution
      on your site in minutes. <br>Create a new revenue stream by giving users the power to
      easily earn your virtual rewards by completing <br>unlimited surveys in all countries. You
      generate revenue for each survey your users complete!</p>
  </div>
<!--Section Fifth End-->

<!--Section Sixth Start-->
  <section class="p-experience">
    <div>
      <h1 class="after-title">Make Every Experience Rewarding</h1>
    </div>
    <div class="icons">
      <img src="https://adscendmedia.com/framework/public/packages/adscend/images/home/FooterIcons.gif"
        class="c-img-responsive c-mobile-hidden Rewarding" alt="All Icons">
      <div class="c-mobile-visible">
      </div>
    </div>
    <div class="Get_Started">
      <a class="button" href="#">Get Started</a>
    </div>
  </section>
<!--Section Sixth End-->

</div>

{% endblock %}