

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header pl-4">
                <h6 class="modal-title">
                    Leave a feedback
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body p-4">
                <p>
                    Before you start the next Voting Quiz, please give us feedback.

                    We are developing a mobile APP. <br/>
                    Please rank in order how you prefer to taking our voting quizzes.<br/>
                    Write a 1, 2 or 3 by each one. 1 is your favorite and 3 being your least favorite.
                    <br/><br/>
                </p>

                <div class="form-group">
                    <label for="message1">Desktop:</label>
                    <input class="form-control" rows="5" name="message1" id="feedback-report-message-1"/>
                </div>

                <div class="form-group">
                    <label for="message2">Mobile Web:</label>
                    <input class="form-control" rows="5" name="message2" id="feedback-report-message-2"/>
                </div>

                <div class="form-group">
                    <label for="message3">Mobile App:</label>
                    <input class="form-control" rows="5" name="message3" id="feedback-report-message-3"/>
                </div>

                <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                <div class="feedback-report-submit-container form-group d-flex justify-content-between align-items-center">

                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>

                    <button type="Submit" id="feedback-report-submit" class="btn btn-success">Submit</button>

                </div>
                <div id="feedback-send-message"></div>
            </div>

        </div>

    </div>

    <script async src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.0.6/fingerprint2.min.js"></script>
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            let modalStatus = $('#feedback-send-message');

            $('#feedbackModal').modal('show');
            
            $('#feedback-report-submit').on('click', () => {
                let captcha = $('[name=g-recaptcha-response]').val();
                let message = `
                    Desktop:  ${$('#feedback-report-message-1').val()}

                    Mobile Web:  ${$('#feedback-report-message-2').val()}

                    Mobile App:  ${$('#feedback-report-message-3').val()}

                `;

                Fingerprint2.get(function (fingerprint) {
                    fingerprint = fingerprint.filter(i => i.key !== 'canvas' && i.key !== 'webgl');
                    SV.fetch('/bug-report/?feedback=True', {captcha, message, fingerprint})
                        .then(r => {
                            modalStatus
                                .addClass('valid-feedback')
                                .text('Thank you for your report! We will deal with it as soon as possible.')
                                .show();
                            setTimeout(() => window.location.href = '/', 3000)
                        })
                        .catch(r => {
                            modalStatus
                                .addClass('invalid-feedback')
                                .text(r.error)
                                .show()
                        })
                })

            })
        })
    </script>

</div>