{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{% static 'survey/style.css' %}" />
    <link rel="stylesheet" href="{% static 'survey/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="{% static 'survey/vendor/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'survey/vendor/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'survey/vendor/popper.min.js' %}"></script>
    <script src="{% static 'survey/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'survey/vendor/blockadblock.js' %}"></script>
    <script src="{% static 'survey/main.js' %}"></script>
</head>
<body style="white-space: pre; font-family: monospace">

<div class="p-5 w-100 h-100 mb-5">
    {{ log }}
</div>


</body>
</html>