<div class="modal fade" id="modalLanguageSelect" tabindex="-1" role="dialog"
     aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">
                    Select Language
                </h4>
            </div>


            <div class="modal-body mx-3">
                <form method="POST">
                    {% csrf_token %}
                    <select id="language-select" class="form-control" name="language-select">
                        <option value="EN">English</option>
                        <option value="PT">Portugues</option>
                        <option value="ES">Española</option>
                        <option value="RU">Pусский</option>
                        <option value="TR">Türk</option>
                        <option value="FR">Fransızca</option>
                        <option value="IN">Bahasa Indonesia</option>
                        <option value="PL">Polskie</option>
                        <option value="IT">Italiana</option>
                        <option value="TH">ไทย</option>
                        <option value="ZH-CN">中文</option>
                        <option value="DE">Deutsche</option>
                        <option value="RO">Română</option>
                        <option value="BG">български</option>
                        <option value="NL">Nederlands</option>
                        <option value="AR">عربى</option>
                        <option value="SR">Српски</option>
                    </select>

                    <div class="d-flex justify-content-center p-2">
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>