
<div class="modal fade" id="moveToMobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header pl-4">
                <h4 class="modal-title text-center">
                    Please use your Mobile device
                    to complete our voting quizzes.
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body p-4">
                <p>
                    On your <b>Mobile device</b>, visit <a href="https://moretvtime.com">MoreTvTime.com</a> and on the top right of the screen click on the menu
                    button and choose login. <br/><br/>
                    Be sure to use the <b>SAME</b> login social account as you chose for desktop. <br/>
                    Then you can begin the voting quizzes.
                </p>
            </div>

        </div>

    </div>

    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', () => $('#moveToMobile').modal('show'))
    </script>

</div>