
<div class="sc-privacy-banner" style="display: none;">
    <div class="alert alert-dismissible alert-primary container">
        <h4 class="alert-heading">Cookie & Privacy</h4>
        <div class="d-flex align-items-center">
            <strong>This website uses cookies to ensure you get the best experience on our website. </strong>&nbsp;&nbsp;<a href="/privacy" class="alert-link mr-1">Learn more</a>
            <button type="button" class="btn btn-success ml-auto" data-dismiss="alert">Accept and Close</button>
        </div>
    </div>
</div>


<script>
    let PRIVACY_ACCEPTED = 'PRIVACY_ACCEPTED';
    let accepted = localStorage.getItem(PRIVACY_ACCEPTED);

    if (!accepted) {
        $('.sc-privacy-banner').show();
        $('.sc-privacy-banner button').on('click', ()=> {
            localStorage.setItem(PRIVACY_ACCEPTED, 'true');
        })
    }
</script>