/* Custom select2  */
.form-row .select2-container {
  margin-top: 10px;
}
.select2-custom {
  width: 460px;
  
}
.select2-drop-active {
  border: 1px solid #e6e6e6;
}
.select2-container .select2-choice {
  border-radius: 0px !important;
  border: 1px solid #e6e6e6;
  line-height: 45px !important;
  background-image: none;
}
.select2-container .select2-choice .select2-arrow {
  border-radius: 0px !important;
  border-left: 0px !important;
  background: none;
}
.select2-container .select2-choice{
  height: 45px;
}
.select2-results .select2-highlighted {
  background: #e9e9e9;
  color: #000000;
}
.select2-container .select2-choice .select2-arrow b {
  position: relative;
  cursor: pointer;
  background-image: none;
}
.select2-container .select2-choice .select2-arrow b.active:after {
  border-bottom-width: 9px;
  border-bottom-color: #a0a5a7;
  border-top-width: 0;
}
.select2-container .select2-choice .select2-arrow b.field {
  padding-right: 30px;
  line-height: 45px;
}
.select2-container .select2-choice .select2-arrow b:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4.5px;
  border: 7px solid transparent;
  border-top-width: 9px;
  border-top-color:#a0a5a7;
  border-bottom-width: 0;
}