<div class="banner hyper">
    <div class="inner">
        <div class="Contact_us"><h1>Contact Us</h1> </div>
        <p class="text">
            Don’t waste your time, become a part of the fast growing stop leaving money<br> on the table and maximize your earnings with Viral Lift!

        </p>
        <button class="button" data-show-popup="contacts">Contact us</button>
    </div>
</div>

</div>
<footer class="footer">
    <div class="container">
        <div class="inner">
            <div class="left">
                <div class="logo gray">Jungle Offer Wall</div>
            </div>

            <div class="center">
                <nav class="nav-links">
                    <div class="col">
                        <ul class="list">
                            <li class="item">
                                Home
                            </li>

                        </ul>
                    </div>

                    <div class="col">
                        <ul class="list">
                            <li class="item">
                                <a href="#">Documentation</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <ul class="list">
                            <li class="item">
                                Contact Us
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <ul class="list">
                            <li class="item">
                                <a href="javascript:viod(0)" data-show-popup="contacts">Login</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <ul class="list">
                            <li class="item">
                                <a href="javascript:viod(0)" data-show-popup="get-started">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copy">© 2018-2019. Jungle Survey Wall</div>
                </nav>
               

                <!--ul class="terms-links">
                    <li class="item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="item">
                        <a href="#">Opt Out Policy</a>
                    </li>
                    <li class="item">
                        <a href="#" target="_blank">Developers Documentation</a>
                    </li>
                </ul-->
            </div>

            <!-- <div class="right">

                <div class="social-icons" style="margin-top: 0px">
                    Follow Us:
                    <a href="https://www.facebook.com/" target="_blank"><span class="icon fb"></span></a>
                    <a href="https://www.linkedin.com/company/" target="_blank"><span
                            class="icon ln"></span></a>
                </div>
            </div> -->
        </div>
    </div>
</footer>


</div>

<div class="popup-wrapper" id="get-started">
    <div class="popup">
        <div class="inner">
            <div class="content">
                <span class="close" data-hide-popup="get-started"></span>

                <div class="get-started-wrapper">
                    <div class="get-started">

                        <div class="right">
                            <h2 class="title">Publishers</h2>
                            <p class="text">
                                Sign up for our powerful<br>
                                monetization platform
                            </p>
                            <a class="button get_strat" href="sign_up/text/1234">Get started</a>
                            <!-- <a class="button border" href="/sign_up/text/1234" data-show-popup="get-started">Register</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="popup-wrapper" id="contacts">
    <div class="popup">
        <div class="inner">
            <div class="content">
                <span class="close gray" data-hide-popup="contacts"></span>

                <div class="form-wrapper contacts">
                    <div class="logo large">hyper</div>

                    <form class="form" id="new_contact" data-contact-form="true"
                          action="https://hyperadx.com/contacts.json" accept-charset="UTF-8" data-remote="true"
                          method="post"><input name="utf8" type="hidden" value="✓">
                        <div class="fields">
                            <div class="field">
                                <input placeholder="Full name" type="text" name="contact[name]" id="contact_name">
                                <div class="error" data-name=""></div>
                            </div>
                            <div class="field">
                                <input placeholder="Company" type="text" name="contact[company]" id="contact_company">
                                <div class="error" data-company=""></div>
                            </div>
                            <div class="field">
                                <input type="email" placeholder="Email" name="contact[email]" id="contact_email">
                                <div class="error" data-email=""></div>
                            </div>
                            <div class="field">
                                <select name="contact[type]" id="contact_type">
                                    <option value="advertiser">I am an Advertiser</option>
                                    <option value="publisher">I am a Publisher</option>
                                    <option value="other">Other</option>
                                </select>
                                <div class="error" data-type=""></div>
                            </div>
                            <div class="field">
                                <input placeholder="Overview" type="text" name="contact[message]" id="contact_message">
                                <div class="error" data-message=""></div>
                            </div>
                        </div>
                        <button class="button blue">Submit request</button>
                    </form>
                    <p class="text">
                        Feel free to get in touch anytime via <a
                            href="mailto:support@hyperadx.com">support@hyperadx.com</a><br>
                        All inquiries welcome.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup-wrapper" id="contact-success">
    <div class="popup">
        <div class="inner">
            <div class="content">
                <span class="close gray" data-hide-popup="contact-success"></span>

                <div class="form-wrapper contacts">
                    <div class="logo large">hyper</div>

                    <div>
                        <p>Congratulations, your request has been sent</p>
                        <p>Our manager will contact you soon</p>
                        <div class="form">
                            <button class="button blue" data-hide-popup="contact-success">BACK TO SITE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




