<div class="page-container">
    <div class="page-wrapper">
        <div class="top top_navbar">
            <div class="container">
                <div class="inner">
                    <div class="menu-toggler"></div>
                    <div class="signup-item">
                        <a class="button border" href="javascript:viod(0)" data-show-popup="get-started">Sign up</a>
                    </div>

                    <div class="left">
                        <a href="/dashboard" class="logo">Jungle Offer Wall</a>
                    </div>

                    <div class="menu-mobile">
                        <div class="center">
                            <ul class="menu">

                                <li class="item">
                                    <a href="javascript:void(0)" class="link">Home</a>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0)" class="link">Documentation</a>
                                </li>

                                <li class="item">
                                    <a href="javascript:viod(0)" class="link" data-show-popup="contacts">Contact Us</a>
                                </li>
                            </ul>
                        </div>

                        <div class="right">
                            <ul class="menu">
                                <li class="item log_in">
                                    <a href="signin" class="link">Login</a>
                                </li>

                                <li class="item signup">                                    
                                    <a class="button border" href="javascript:viod(0)" data-show-popup="get-started">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>