<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Menu:</li>
            <li><a href="/dashboard/members" class="sidebar-links"><i
                    class="fa fa-list-alt"></i> <span>Dashboard</span></a></li>
            <li><a href="/dashboard/sites" class="sidebar-links"><i
                    class="fa fa-file-text-o"></i> <span>Sites</span></a></li>
            <li><a href="/dashboard/statistics" class="sidebar-links"><i
                    class="fa fa-bar-chart"></i> <span>Statistiscs</span></a></li>
            <li><a href="/dashboard/support" class="sidebar-links"><i
                    class="fa fa-comments-o"></i> <span>Support</span>&nbsp;</a></li>
            <li><a href="/dashboard/payment" class="sidebar-links"><i
                    class="fa fa-usd"></i> <span>Payments</span></a></li>
            <li><a href="/dashboard/faq" class="sidebar-links" target="_blank"><i
                    class="fa fa-question"></i> <span>FAQ</span></a></li>
            <li><a href="/dashboard/banner" class="sidebar-links" target="_blank"><i
                    class="fa fa-question"></i> <span>Banner</span></a></li>        
        </ul>
    </section>
</aside>